
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="divport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0">
    <title>Untitled Document</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/Content/bootstrap.css" rel="stylesheet">

    <link href="~/Content/StudentMainUI.css" rel="stylesheet" type="text/css">
</head>
<body class="body">
    <div class="PictureDiv">
        <!-- 背景图的div -->
        <img class="user" src="../Content/themes/user.png" />
        <img src="../Content/themes/background.jpg" class="Picture" />
        <div id="descri">

        </div>
        <!--　　<div class="name" >姓名：</div>-->
        <!--<div class="teacherID" >学号：</div>-->
    </div>

    <div class="lowBox" id="classname">
        <!--<A href="javascript:void(0);" onclick="window.location.href='CourseUI.html'">-->
        <!--<div class="blueBox">-->
        <!--<p class="leftText"> J2EE</p>-->
        <!--<p class="rightText" > 老师：邱明</p>-->
        <!--</div>-->
        <!--</A>-->
        <!--<div class="greyBox">-->
        <!--<p class="leftText"> J2EE</p>-->
        <!--<p class="rightText" > 老师：邱明</p>-->
        <!--</div>-->
        <!--<div class="greyBox">-->
        <!--<p class="leftText"> J2EE</p>-->
        <!--<p class="rightText" > 老师：邱明</p>-->
        <!--</div>-->
        <!--<div class="greyBox">-->
        <!--<p class="leftText"> J2EE</p>-->
        <!--<p class="rightText" > 老师：邱明</p>-->
        <!--</div>-->
    </div>
</body>
</html>



<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type:'GET',
            url:"/api/me",
            dataType:"json",
            success:function (data){
                $("#descri").append("" +
                    "<div class='name' >姓名："+ data.Data.name+ "</div>"+
                    "<div class='ID' >学号："+ data.Data.number+ "</div>");
            }
        });
        $.ajax({
            type:'GET',
            url:"/api/course",
            dataType:"json",
            success:function (data){
                data.Data.forEach(function (el,i,arr) {
                    $("#classname").append("" +
                        "<A href='javascript:void(0);'onclick='test(this)'id='"+arr[i].id+"'>"+
                        "<div class='blueBox'>"+
                        " <p class='leftText'>"+ arr[i].name+ "</p>"+
                        " <p class='rightText'> 老师：" + arr[i].teacherName + "</p>"+
                    "</div>"+
                    " </A>'");
                });
            }
        });
    })
    function test(e) {
        window.location.href = '../seminar/Seminar'
    }
</script>














