@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChooseSchool_province</title>
    <link href="~/Content/ChooseSchool.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: "/api/school/province1",
                data: "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $.each(data.Data, function (i, value) {
                        $("#provinces").append('<li id=\"ptr\" class=\"ptr\">' + value + '</li>');
                    });
                }
            })
            $("#city").click(function () {
                $.ajax({
                    type: 'GET',
                    url: "/api/school/province",
                    data: "",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        alert('请先选择省份');
                    }
                })
            })
            $("#school").click(function () {
                $.ajax({
                    type: 'GET',
                    url: "/api/school/province",
                    data: "",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        alert('请先选择省份');
                    }
                })
            })
        });             
        $(document).on("click", ".ptr", function () {
            $.ajax({
                type: 'GET',
                url: "/api/school/province",
                data: "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $(window).attr("location", '/school/ChooseSchool_city');
                }
            })
        });
    </script>
</head>
<body>
    <div class="topbox">
        <div class="fixTop">
            <img src="~/Content/themes/bulb.png" class="bulbimg" />
            <strong class="title0">请选择您的学校</strong>
            <img class="img" src="~/Content/themes/background.jpg" />
        </div>
        <!--这个class与js有关 实现列表切换-->
        <div>
            <div class="fixTop title">
                <div id="province" class="cur">省份</div>
                <div id="city">州市</div>
                <div id="school">学校</div>
            </div>
            <div class="list">
                <ol id="provinces"></ol>
            </div>
        </div>
    </div>
</body>
</html>
