
@{
    ViewBag.Title = "CourseInfoUI";
}

<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="divport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0">
    <title>Untitled Document</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/Content/CourseInfoUI.css" rel="stylesheet" type="text/css">
</head>
<body class="body">

    <!--<div class="topBox">-->
    <!--<span class="title"> OOAD</span>-->
    <!--</div>-->
    <div id="descrip"></div>
    <!--<div  style="margin-top: 18%">-->
    <!--<img class="UserImg" src="../Content/themes/UserIcon.png" />-->
    <!--<p class="NameText">老师：邱明</p>-->
    <!--</div>-->
    <!--<div>-->
    <!--<img class="MailImg" src="../Content/themes/MailIcon.png" />-->
    <!--<p class="MailText">邮箱：qiuming@gmail.com</p>-->
    <!--</div>-->
    <!--<div>-->
    <!--<img src="../Content/themes/HouseIcon.png" class="HouseImg"/>-->
    <!--<p class="ClassText">班级</p>-->
    <!--</div>-->
    <!--<div class="btn-group SmallText" style="margin-top: 1%" >-->
    <!--<span  style="float:left;">时间: &nbsp; </span>-->
    <!--<button type="button" class="btn btn-default dropdown-toggle btn-xs btn-group buttonTpye"-->
    <!--data-toggle="dropdown" style="float:left;position: relative;font-size: 1em;">周三56节 单周-->
    <!--<span class="caret"></span>-->
    <!--</button>-->
    <!--<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">-->
    <!--<li><a href="#">周三56节 单周</a></li>-->
    <!--<li><a href="#">周三56节 单周</a></li>-->
    <!--<li><a href="#">周三56节 单周</a></li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--<div  class="SmallText">-->
    <!--<span>地点: 学生公寓405 </span>-->
    <!--</div>-->
    <!--<div  class="SmallText">-->
    <!--<span>班级人数:31人 </span>-->
    <!--</div>-->
    <!--<div>-->
    <!--<img src="../Content/themes/FileIcon.png" class="PaperImg"/>-->
    <!--<p class="IntroText">简介</p>-->
    <!--</div>-->
</body>
</html>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type:'GET',
            url:"/api/course/3",
            dataType:"json",
            success:function (data){
                $("#descrip").append("" +
                    "   <div class='topBox'>" +
                " <span class='title'>"+ data.Data.name+ "</span>" +
                "  </div>" +
                    " <div  style='margin-top: 18%'>" +
                " <img class='UserImg' src='../Content/themes/UserIcon.png' />" +
                " <p class='NameText'>老师："+ data.Data.teacherName+ "</p>" +
                " </div>" +
                " <div>" +
                " <img class='MailImg' src='../Content/themes/MailIcon.png' />" +
                "  <p class='MailText'>邮箱："+ data.Data.teacherEmail+ "</p>" +
                    "  </div>" +
                " <div>" +
                " <img src='../Content/themes/FileIcon.png' class='PaperImg'/>" +
                "<p class='IntroText'>简介:"+ data.Data.description+ "</p>" +
                "</div>");
            }
        });
    })
</script>
