
@{
    ViewBag.Title = "CourseUI";
}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="divport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0">
    <title>Untitled Document</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../Content/CourseUI.css" rel="stylesheet" type="text/css">
</head>
<body class="body">
    <div class="topBox" id="descri">
        <!--<span class="title"> OOAD</span>-->
    </div>
    <div id="descrip"></div>
    <!--<A href="javascript:void(0);" onclick="window.location.href='Seminar.html'">-->
    <!--<div class="blueBox">-->
    <!--<p class="LeftBoxText" > 讨论课4</p>&lt;!&ndash;蓝色选择框&ndash;&gt;-->
    <!--<p class="RightBoxText1" style="margin-left: 60%;margin-top: 3%" > 11月6日至11月12日</p>-->
    <!--<p class="RightBoxText2" style="margin-left: 60%;margin-top: 12%"> 固定分组</p>-->
    <!--<p class="RightBoxText3" style="margin-left: 60%;margin-top: 21%"> 成绩：未完成</p>-->
    <!--</div>-->
    <!--</A>-->
    <!--<div class="greyBox"> &lt;!&ndash;灰色选择框&ndash;&gt;-->
    <!--<p class="LeftBoxText"> 讨论课5</p>-->
    <!--<p class="RightBoxText1" style="margin-left: 60%;margin-top: 3%" > 11月6日至11月12日</p>-->
    <!--<p class="RightBoxText2" style="margin-left: 60%;margin-top: 12%"> 固定分组</p>-->
    <!--<p class="RightBoxText3" style="margin-left: 60%;margin-top: 21%"> 成绩：未完成</p>-->
    <!--</div>-->
    <!--<div class="greyBox"> &lt;!&ndash;灰色选择框&ndash;&gt;-->
    <!--<p class="LeftBoxText"> 讨论课6</p>-->
    <!--<p class="RightBoxText1" style="margin-left: 60%;margin-top: 3%"> 11月6日至11月12日</p>-->
    <!--<p class="RightBoxText2" style="margin-left: 60%;margin-top: 12%"> 固定分组</p>-->
    <!--<p class="RightBoxText3" style="margin-left: 60%;margin-top: 21%"> 成绩：未完成</p>-->
    <!--</div>-->
    <!--<div class="greyBox"> &lt;!&ndash;灰色选择框&ndash;&gt;-->
    <!--<p class="LeftBoxText"> 讨论课7</p>-->
    <!--<p class="RightBoxText1" style="margin-left: 60%;margin-top: 3%"> 11月6日至11月12日</p>-->
    <!--<p class="RightBoxText2" style="margin-left: 60%;margin-top: 12%"> 固定分组</p>-->
    <!--<p class="RightBoxText3" style="margin-left: 60%;margin-top: 21%"> 成绩：未完成</p>-->
    <!--</div>-->
</body>
</html>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type:'GET',
            url:"/api/course/2/seminar",
            dataType:"json",
            success:function (data){
                $("#descri").append("" +
                    "<span class='title'>"+data.Data.name+"</span>");
                data.Data.se.forEach(function (el,i,arr) {
                    $("#descrip").append("" +
                        "<A href='javascript:void(0);'  onclick='test(this)' id='" + arr[i].id + "'>" +
                    "<div class='blueBox'>" +
                    " <p class='LeftBoxText' > 讨论课4</p>" +
                    " <p class='RightBoxText1' style='margin-left: 60%;margin-top: 3%' > "+ arr[i].startTime+ "至"+ arr[i].endTime+ "</p>" +
                    "<p class='RightBoxText2' style='margin-left: 60%;margin-top: 12%'> "+ arr[i].groupingMethod+ "</p>" +
                    "<p class='RightBoxText3' style='margin-left: 60%;margin-top: 21%'> 成绩："+ arr[i].grade+ "</p>" +
                    " </div>" +
                   " </A>");
                });
            }
        });
    })
    function test(e) {
        window.location.href = '../course/ClassManage'
    }
</script>

